.axis-head{
	height:30px;
	width:90%;
	margin-top:5%;
	margin-left:5%;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #24628A;
	background-color: #B5DDF6;
	cursor:pointer;
}
.axis-head.current{
	background-color: #3868A9;
	color: #fff;
}
.axis-item-ul{
	background: url(images/line.png) no-repeat center center;
	margin:2px;
	height:10px;
	padding:0px;
}
.axis-item-li{
	list-style: none;
	width:80%;
	height:25px;
	margin-left:10%;
	line-height:25px;
	text-align:center;
	background-color: #A5E9C0;
	color:#32965a;
	cursor:pointer;
}
.axis-item-li.current{
	background-color: #325540;
	color:#fff;
}
.axis-item-ul-top{
	height:0;
}