.gisBaseToolDiv {
	height: 30px;
	border: solid silver 1px;
	background: white;
	text-align: center;
	margin: auto;
}
.gisBaseToolDiv img {
	margin-top: 3px;
	width: 24px;
	height: 24px;
	margin-left: 6px;
	cursor: pointer;
	vertical-align: middle;
	transition: all 0.5s ease-in-out;
}
.gisBaseToolDiv img:nth-last-child(1) {
	margin-right: 6px;
}
.gisBaseToolDiv img:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}
.gisBaseToolMesureDiv {
	position: absolute;
	top: 35px;
	right: 5px;
	z-index: 100002;
}
.gisBaseTool_itemSelected
{
	border:solid 1px blue;
}
