
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501727419140'); /* IE9*/
  src: url('iconfont.eot?t=1501727419140#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501727419140') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501727419140') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501727419140#iconfont') format('svg'); /* iOS 4.1- */
}

[class*="el-icon-rx-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-rx-ban-circle:before { content: "\e603"; }

.el-icon-rx-dot-2x:before { content: "\e614"; }

.el-icon-rx-dot-1x:before { content: "\e615"; }

.el-icon-rx-none:before { content: "\e616"; }

.el-icon-rx-times-b-4x:before { content: "\e647"; }

.el-icon-rx-add:before { content: "\e648"; }

.el-icon-rx-times-4x:before { content: "\e64a"; }

.el-icon-rx-edit:before { content: "\e65e"; }

.el-icon-rx-delete:before { content: "\e665"; }

.el-icon-rx-check-circle:before { content: "\e668"; }

