<div>
    <div class="modal-header">
        <h3 class="panel-title" name="deleteNotice">删除</h3>
    </div>
    <br>
    <div class="modal-body">
        <form name="deleteGroupForm" class="form-horizontal" novalidate>
            <div class="form-group" style="text-align: center">
                <span class="fa fa-warning fa-fw fa-2x" style="color:#BC2A20;"></span><span style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确定删除 </span></span>？
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button name="cancel" class="btn btn-sm btn-warning" ng-click="cancel()">取消</button>
        <button name="confirm" class="btn btn-sm btn-primary" ng-click="ok()">确定</button>
    </div>
</div>