/*--begin--通用样式---------*/
*{
	font-size:12px;
	font-family:""
}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:5px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.mousePositionCss {
	bottom:0px;
	text-align:center;
}
a:link {
   text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}
span.red{
	color:red;	
}
img{
	-moz-user-select:none;
}
/*--end--*/
/* 登录页面样式 */
.loginTop{
	height: 308px; 
	width: 85%; 
	margin: 0 auto;
}
.loginTop .lgdiv{
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	z-index: 9;
}
.loginTop .lgdiv img{
	width: 100%; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0;
}
.loginTop .lgdiv .loginBg{
	background: url(../images/login_frm.png); 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	margin-top: -154px; 
	margin-left: -150px; 
	width: 300px; 
	height: 308px;
}
.loginTop .lgdiv .loginBg .loginTitle{
	height: 73px; 
	margin-left: 80px; 
	width: 220px;
}
.loginTop .lgdiv .loginBg .loginTitle table{
	height: 100%; 
	width: auto;
}
.loginTop .lgdiv .loginBg .loginTitle table td {
	font-size: 15pt; 
	color: #a4aab2; 
	font-weight: normal; 
	vertical-align: bottom; 
	text-align: left;
}
.loginTop .lgdiv .loginBg .loginTitle table .td2{
	font-size: 10pt; 
	vertical-align: top; 
	text-align: center;
}
.loginTop .table{
    margin-left: 5%;
    width:90%;
}

.loginTop .th{
    font-size: 12pt; 
    color: #a4aab2;
    width:80px;
    line-height: 20px;
}
.loginTop .td input{
    width:235px;
}

.loginButton{
    margin-top: 20px;
    width:240px;
    text-align: center;
}
.loginButton a{
	width:100%;
	height:35px;
}
.loginButton pre{
    font-size: 18pt;
    margin:0;
    line-height: 35px;
}
/* 主页样式 */
.cs-north {
	height: 78px;
	background: #B3DFDA;
	overflow-y: hidden;
}

.cs-north-bg {
	width: 100%;
	height: 100%;
	background: url(../images/header_bg.jpg) repeat-x;
}
.cs-north-bg>table{
	height : 100%;
	width: 100%;
}
.cs-north-image{
	vertical-align: middle;
	color: #fff; 
	font-size: 22px; 
	font-weight: bold; 
	width: 65px;
}
.cs-north-text{
	font-size: 17pt; 
	color: #eee; 
	vertical-align: middle;
	height:40px;
}
.cs-north-text2{
	font-size: 14px;
	color: #ccc; 
	font-weight: 200; 
	vertical-align: middle
}
.cs-north-logo {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
}

.cs-west {
	width: 200px;
	padding: 0px;
	border-left: 1px solid #99BBE8;
}

.cs-south {
	height: 25px;
	background: url('../images/panel_title.gif') repeat-x;
	padding: 0px;
	text-align: center;
}

.cs-navi-tab {
	padding: 5px;
	height: 25px;
	margin-top:3px;
	border-top: 0px solid #003;
	line-height: 25px;
	padding-left:30px;
	border-bottom: 1px dotted #ebede6;
	white-space: nowrap;
	background:url(../images/current-left.png) no-repeat 5px 0px;
}

.cs-navi-tab:hover{
	text-decoration: none;
	background:url(../images/current-left.png) no-repeat 5px 0px
	,url(../images/current-right.png) no-repeat right;
	color:#69ADDF;
	text-decoration: none;
	cursor: pointer;
}

.cs-navi-tab img {
	vertical-align: middle;
	margin-left: 4px;
	margin-right: 5px;
	border: 0px;
}


.ov {
	height: 30px;
	margin-top:3px;
	border-top: 0px solid #003;
	line-height: 30px;
	border-bottom: 1px solid #ebede6;
}

.ov:hover {
	background-color: orange;
	text-decoration: none;
}

.ov a img {
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 5px;
	border: 0px;
}

.cs-tab-menu {
	width: 120px;
}

.cs-home-remark {
	padding: 10px;
}
#dvMenus{
	margin-right: 20px;  
	height: 100%; 
	vertical-align:middle; 
}
#accdion .panel-title {
	font-size: 18px;
	font-weight: bold;
	color: #777;
	height: 25px;
	line-height: 25px;
}

.tab-inner {
	line-height: 20px;
	height: 20px;
}

.tab-inner img {
	border: 0;
}

#nav {
	vertical-align: middle;
}

.accordion .accordion-header-selected {
	background:#fafafa;
}
.loading{
	position: absolute;
	z-index: 10000;
	display: none;
	background-color: #f8f8f8;
}
.loading div{
	width: 100%;
	height: 100%;
	display: table;
}
.loading span{
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}


textarea{
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	outline-style:none;
	resize:none;
}
/*--begin-------首页样式---------*/
div.exit{
	height:70px;
	line-height:70px;
	width:60px;
	float:left;
}
div.exit a{
	padding:35px 30px;
	background:url(../images/tc.png) center no-repeat;	
}
div.currentUser{
	width:auto;
	heigth:70px;
	line-height:70px;
	color:#eee;
}
div.exit a:hover{
	background:url(../images/tc1.png) center no-repeat;
}
a.hideTop{
	color:#555;
	background:url(../images/up.png) left no-repeat;
	padding-left:18px;
	height:18px;
	line-height:18px;
}
a.showTop{
	color:#555;
	background:url(../images/down.png) left no-repeat;
	padding-left:18px;
	height:18px;
	line-height:18px;
}
/*--end--*/
/*--begin-------列表页，表单页通用样式---------*/
div.table{
	float:left;
	width:100%;
}
div.table .tr{
	float:left;
	width:100%;
	white-space:nowrap;
}
div.table .tr .td,div.table .tr .th{
	float:left;
	padding:5px 0;
	height: 28px;
	line-height: 28px;
}
#vehNumberCookie.table{
	width:auto;
	position:absolute;
	display:none;
	background-color:#FFFFFF;
	text-align:center;
	font-size:14px;
	width:244px;
	height:162px;
	z-index: 10000;
}
#vehNumberCookie.table .td{
	padding:0;
	width:25px;
	height:25px;
	line-height:25px;
	margin:1px;
	cursor:pointer;
}
div.linkbutton_toolbar{
	width:98%;
	padding:5px 1%;
}
div.linkbutton_toolbar a{
	margin-right: 5px;
}
div.dialogDiv{
	position:absolute;
	left:-1000px;
	top:-1000px;	
}
div.searchPanel{
	float:left;
	width:97%;
	margin:10px 1%;
	border:1px solid #cccccc;
	padding:10px 0;
	border-radius:5px;
}
div.searchPanel .panel_title{
	position: absolute;
	margin-left: 10px;
	margin-top: -20px;
	font-size:12px;
	background:#FFFFFF;
	padding: 0 5px;
	color:#6FB3E0;
}
/*--end--*/
/*--begin-------按钮样式---------*/
.button:hover,
.button-add:hover,
.button-search:hover,
.button-edit:hover,
.button-remove:hover,
.button-disable:hover,
.button-enable:hover,
.button-drop:hover,
.button-save:hover,
.button-close:hover,
.button-prev:hover,
.button-next:hover{
	opacity: 0.7;
}
.button{
	padding:0 5px;
	color:#FFFCFF;
	line-height:24px;
	background-color:#09f;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #09f;
}
.button-add{
	padding:0 5px;
	color:#FFFCFF;
	line-height:24px;
	background-color:#8cc052;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #8cc052;
}
.button-search{
	padding:0 5px;
	color:#FDFFFE;
	line-height:24px;
	background-color:#6fb3e0;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #6fb3e0;
}
.button-edit{
	padding:0 5px;
	color:#FFFCFF;
	line-height:24px;
	background-color:#f6bb46;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #f6bb46;
}
.button-remove{
	padding:0 5px;
	color:#FFFCFF;
	line-height:24px;
	background-color:#e95841;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #e95841;
}
.button-disable{
	padding:0 5px;
	color:#FFFCFF;
	line-height:24px;
	background-color:#BBB;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #BBB;
}
.button-enable{
	padding:0 5px;
	color:#FFFCFF;
	line-height:24px;
	background-color:#F63;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #F63;
}
.button-save{
	padding:0 5px;
	color:#FFFCFF;
	line-height:24px;
	background-color:#45AF33;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #45AF33;
}
.button-drop{
	padding:0 5px;
	color:#FFFCFF;
	line-height:24px;
	background-color:#333;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #333;
}
.button-close{
	padding:0 5px;
	color:#FFFCFF;
	line-height:24px;
	background-color:#B03434;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #B03434;
}
.button-prev,.button-next{
	padding:0 5px;
	color:#FFFCFF;
	line-height:24px;
	background-color:#0CF;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #0CF;
}
/*--end--*/
/*--begin-------图片预览样式---------*/
div.cy-imageView{
	width:100%;
	height:100%;
	display:table;
	position:absolute;
}
div.cy-imageView div{
	display:table-cell;
	vertical-align:middle;	
}
span.retina_circle,span.retina_square{
	background: no-repeat center center white;
	border:2px solid white;
	/* Positioned absolutely, so we can move it around */
	position:absolute;
	/* Hidden by default */
	display:none;
	/* A blank cursor, notice the default fallback */
	cursor:crosshair;
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 5px #777, 0 0 10px #aaa inset;
	-webkit-box-shadow:0 0 5px #777;
	box-shadow:0 0 5px #777, 0 0 10px #aaa inset;

	z-index:1000;
}
span.retina_circle{
	height:150px;
	width:150px;
	/* CSS3 rounded corners */
	-moz-border-radius:75px;
	-webkit-border-radius:75px;
	border-radius:75px;
}
span.retina_square{
	height:80px;
	width:150px;
}
/*--end--*/
/*  过车监控页面样式 */
.monitorInter{
	background-color: #666;
	border-color: #ddd;
}
.monitorItem{
	float: left;
}
.monitorLable {
	overflow: hidden;
}
.largePanel{
	float:left;
}
.scrollPanel{
	float:left;
}
.scrollPanelInner{
	overflow-x:hidden;
}

#brandbox{
	position:absolute;
	height:200px;
	width:200px;
	display: none;
	z-index: 10000;
	background-color: #FFF;
	border : solid 1px #ddd;
	overflow-y:auto;
	overflow-x:hidden;
}
#brandbox .brandItem{
	width : 100%;
	height : 30px;
	padding: 5px;
	cursor: pointer;
}
#brandbox .brandItem-hover{
	background-color: #e6e6e6;
}

#brandbox .brandItem .brandIcon{
	padding: 0;
}
#brandbox .brandItem .brandImg{
	height : 30px;
	width : 30px;
}
#brandbox .brandItem .brandText{
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	padding: 0;
	padding-left:20px;
}
#brandbox .letterItem{
	width : 100%;
	font-size: 16px;
	color:#fff;
	padding:5px 15px;
	background-color: #7db4d8;
}