
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    position: relative;
    min-height: 1px;
    float:left;
    text-align: left;
}

.col-12 {
    width: 100%
}

.col-11 {
    width: 91.66666667%
}

.col-10 {
    width: 83.33333333%
}

.col-9 {
    width: 75%
}

.col-8 {
    width: 66.66666667%
}

.col-7 {
    width: 58.33333333%
}

.col-6 {
    width: 50%
}

.col-5 {
    width: 41.66666667%
}

.col-4 {
    width: 33.33333333%
}

.col-3 {
    width: 25%
}

.col-2 {
    width: 16.66666667%
}

.col-1 {
    width: 8.33333333%
}

.inputlabel{
    border:0px;
}

.row
{
    clear: both;
    overflow: hidden;
    margin-bottom: 2px;
    height: 23px;
}



.portlet {
    margin: 5px;
    padding: 1px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.portlet > .portlet-title
{
    color: #FFF !important;
    overflow: hidden;
    background-color: #555 !important;
}


.portlet > .portlet-title > .caption {
    float: left;
    font-size: 18px;
}

.portlet.box > .portlet-body {
    padding: 5px;
}


.portlet > .portlet-body {
    background-color: #FFF;
    overflow: hidden;
}
.portlet > .portlet-title > .tools,
.portlet > .portlet-title > .actions {
    padding: 0px;
    margin: 6px 0px 0px;
    float: right;
}

.portlet > .portlet-title > .tools > a.reload, .portlet.solid > .portlet-title > .tools > a.reload {
    background-image: url("../images/portlet-reload-icon-white.png");
}

.bordered div
{
    border: 1px solid #DDD;
    padding: 1px;
}

.portlet>.form-control{
    width: 100%;
}
