<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huntkey.rx.modeler.provider.dao.EdmConvoluteExtendMapper">
  <resultMap id="BaseResultMap" type="com.huntkey.rx.modeler.common.model.EdmConvoluteExtend">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="edce_edmp_id" jdbcType="VARCHAR" property="edceEdmpId" />
    <result column="edce_enum_value" jdbcType="VARCHAR" property="edceEnumValue" />
    <result column="edce_seq" jdbcType="INTEGER" property="edceSeq" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="adduser" jdbcType="VARCHAR" property="adduser" />
    <result column="modtime" jdbcType="TIMESTAMP" property="modtime" />
    <result column="moduser" jdbcType="VARCHAR" property="moduser" />
    <result column="acctid" jdbcType="TINYINT" property="acctid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, edce_edmp_id, edce_enum_value, edce_seq, is_del, addtime, adduser, modtime, moduser, 
    acctid
  </sql>
  <select id="selectByExample" parameterType="com.huntkey.rx.modeler.common.model.EdmConvoluteExtendExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from edm_convolute_extend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from edm_convolute_extend
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from edm_convolute_extend
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.huntkey.rx.modeler.common.model.EdmConvoluteExtendExample">
    delete from edm_convolute_extend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huntkey.rx.modeler.common.model.EdmConvoluteExtend">
    insert into edm_convolute_extend (id, edce_edmp_id, edce_enum_value, 
      edce_seq, is_del, addtime, 
      adduser, modtime, moduser, 
      acctid)
    values (#{id,jdbcType=VARCHAR}, #{edceEdmpId,jdbcType=VARCHAR}, #{edceEnumValue,jdbcType=VARCHAR}, 
      #{edceSeq,jdbcType=INTEGER}, #{isDel,jdbcType=TINYINT}, #{addtime,jdbcType=TIMESTAMP}, 
      #{adduser,jdbcType=VARCHAR}, #{modtime,jdbcType=TIMESTAMP}, #{moduser,jdbcType=VARCHAR}, 
      #{acctid,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huntkey.rx.modeler.common.model.EdmConvoluteExtend">
    insert into edm_convolute_extend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="edceEdmpId != null">
        edce_edmp_id,
      </if>
      <if test="edceEnumValue != null">
        edce_enum_value,
      </if>
      <if test="edceSeq != null">
        edce_seq,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="adduser != null">
        adduser,
      </if>
      <if test="modtime != null">
        modtime,
      </if>
      <if test="moduser != null">
        moduser,
      </if>
      <if test="acctid != null">
        acctid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="edceEdmpId != null">
        #{edceEdmpId,jdbcType=VARCHAR},
      </if>
      <if test="edceEnumValue != null">
        #{edceEnumValue,jdbcType=VARCHAR},
      </if>
      <if test="edceSeq != null">
        #{edceSeq,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="adduser != null">
        #{adduser,jdbcType=VARCHAR},
      </if>
      <if test="modtime != null">
        #{modtime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduser != null">
        #{moduser,jdbcType=VARCHAR},
      </if>
      <if test="acctid != null">
        #{acctid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huntkey.rx.modeler.common.model.EdmConvoluteExtendExample" resultType="java.lang.Long">
    select count(*) from edm_convolute_extend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update edm_convolute_extend
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.edceEdmpId != null">
        edce_edmp_id = #{record.edceEdmpId,jdbcType=VARCHAR},
      </if>
      <if test="record.edceEnumValue != null">
        edce_enum_value = #{record.edceEnumValue,jdbcType=VARCHAR},
      </if>
      <if test="record.edceSeq != null">
        edce_seq = #{record.edceSeq,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=TINYINT},
      </if>
      <if test="record.addtime != null">
        addtime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adduser != null">
        adduser = #{record.adduser,jdbcType=VARCHAR},
      </if>
      <if test="record.modtime != null">
        modtime = #{record.modtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.moduser != null">
        moduser = #{record.moduser,jdbcType=VARCHAR},
      </if>
      <if test="record.acctid != null">
        acctid = #{record.acctid,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update edm_convolute_extend
    set id = #{record.id,jdbcType=VARCHAR},
      edce_edmp_id = #{record.edceEdmpId,jdbcType=VARCHAR},
      edce_enum_value = #{record.edceEnumValue,jdbcType=VARCHAR},
      edce_seq = #{record.edceSeq,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=TINYINT},
      addtime = #{record.addtime,jdbcType=TIMESTAMP},
      adduser = #{record.adduser,jdbcType=VARCHAR},
      modtime = #{record.modtime,jdbcType=TIMESTAMP},
      moduser = #{record.moduser,jdbcType=VARCHAR},
      acctid = #{record.acctid,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huntkey.rx.modeler.common.model.EdmConvoluteExtend">
    update edm_convolute_extend
    <set>
      <if test="edceEdmpId != null">
        edce_edmp_id = #{edceEdmpId,jdbcType=VARCHAR},
      </if>
      <if test="edceEnumValue != null">
        edce_enum_value = #{edceEnumValue,jdbcType=VARCHAR},
      </if>
      <if test="edceSeq != null">
        edce_seq = #{edceSeq,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="adduser != null">
        adduser = #{adduser,jdbcType=VARCHAR},
      </if>
      <if test="modtime != null">
        modtime = #{modtime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduser != null">
        moduser = #{moduser,jdbcType=VARCHAR},
      </if>
      <if test="acctid != null">
        acctid = #{acctid,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huntkey.rx.modeler.common.model.EdmConvoluteExtend">
    update edm_convolute_extend
    set edce_edmp_id = #{edceEdmpId,jdbcType=VARCHAR},
      edce_enum_value = #{edceEnumValue,jdbcType=VARCHAR},
      edce_seq = #{edceSeq,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=TINYINT},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      adduser = #{adduser,jdbcType=VARCHAR},
      modtime = #{modtime,jdbcType=TIMESTAMP},
      moduser = #{moduser,jdbcType=VARCHAR},
      acctid = #{acctid,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--根据edce_edmp_id字段删除-->
  <delete id="deleteByEdceEdmpId" parameterType="java.lang.String">
    delete from edm_convolute_extend
    where edce_edmp_id = #{edceEdmpId,jdbcType=VARCHAR}
  </delete>

</mapper>