<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cy.its.device.mybatis.client.FlowSysMapper" >
  <resultMap id="BaseResultMap" type="cy.its.device.domain.model.FlowSys" >
    <id column="DEVICE_ID" property="deviceId" jdbcType="VARCHAR" />
    <result column="RELATED_LED_ID" property="relatedLedId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DEVICE_ID, RELATED_LED_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_DEVICE_FLOW
    where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_DEVICE_FLOW
    where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cy.its.device.domain.model.FlowSys" >
    insert into T_DEVICE_FLOW (DEVICE_ID, RELATED_LED_ID )
    values (#{deviceId,jdbcType=VARCHAR}, #{relatedLedId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cy.its.device.domain.model.FlowSys" >
    insert into T_DEVICE_FLOW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        DEVICE_ID,
      </if>     
      <if test="relatedLedId != null" >
        RELATED_LED_ID,
      </if>     
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="relatedLedId != null" >
        #{relatedLedId,jdbcType=VARCHAR},
      </if>      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cy.its.device.domain.model.FlowSys" >
    update T_DEVICE_FLOW
    <set >
      <if test="relatedLedId != null" >
        RELATED_LED_ID = #{relatedLedId,jdbcType=VARCHAR},
      </if>     
    </set>
    where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cy.its.device.domain.model.FlowSys" >
    update T_DEVICE_FLOW
    set
      RELATED_LED_ID = #{relatedLedId,jdbcType=VARCHAR}
    where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}
  </update>
</mapper>