<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cy.its.device.mybatis.client.led.TDeviceLedTaskAutoMapper" >
  <resultMap id="BaseResultMap" type="cy.its.device.mybatis.model.TDeviceLedTaskAuto" >
    <id column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
    <result column="DEVICE_ID" property="deviceId" jdbcType="VARCHAR" />
    <result column="REGIONAL_ID" property="regionalId" jdbcType="VARCHAR" />
    <result column="PROGRAM_ID" property="programId" jdbcType="VARCHAR" />
    <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
    <result column="TASK_TYPE" property="taskType" jdbcType="VARCHAR" />
    <result column="TASK_FILTER" property="taskFilter" jdbcType="VARCHAR" />
    <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
    <result column="ISSUE_COUNT" property="issueCount" jdbcType="DECIMAL" />
    <result column="TIME_MODE" property="timeMode" jdbcType="DECIMAL" />
    <result column="START_DATE" property="startDate" jdbcType="VARCHAR" />
    <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="VARCHAR" />
    <result column="END_TIME" property="endTime" jdbcType="VARCHAR" />
    <result column="WEEK" property="week" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="APPROVER" property="approver" jdbcType="VARCHAR" />
    <result column="APPROVE_TIME" property="approveTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    TASK_ID, DEVICE_ID, REGIONAL_ID, PROGRAM_ID, TASK_NAME, TASK_TYPE, TASK_FILTER, ENABLE_FLAG, 
    ISSUE_COUNT, TIME_MODE, START_DATE, END_DATE, START_TIME, END_TIME, WEEK, CREATOR, 
    CREATE_TIME, APPROVER, APPROVE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_DEVICE_LED_TASK_AUTO
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_DEVICE_LED_TASK_AUTO
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cy.its.device.mybatis.model.TDeviceLedTaskAuto" >
    insert into T_DEVICE_LED_TASK_AUTO (TASK_ID, DEVICE_ID, REGIONAL_ID, 
      PROGRAM_ID, TASK_NAME, TASK_TYPE, 
      TASK_FILTER, ENABLE_FLAG, ISSUE_COUNT, 
      TIME_MODE, START_DATE, END_DATE, 
      START_TIME, END_TIME, WEEK, 
      CREATOR, CREATE_TIME, APPROVER, 
      APPROVE_TIME)
    values (#{taskId,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR}, #{regionalId,jdbcType=VARCHAR}, 
      #{programId,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, #{taskType,jdbcType=VARCHAR}, 
      #{taskFilter,jdbcType=VARCHAR}, #{enableFlag,jdbcType=VARCHAR}, #{issueCount,jdbcType=DECIMAL}, 
      #{timeMode,jdbcType=DECIMAL}, #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{week,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{approver,jdbcType=VARCHAR}, 
      #{approveTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cy.its.device.mybatis.model.TDeviceLedTaskAuto" >
    insert into T_DEVICE_LED_TASK_AUTO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="deviceId != null" >
        DEVICE_ID,
      </if>
      <if test="regionalId != null" >
        REGIONAL_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if>
      <if test="taskName != null" >
        TASK_NAME,
      </if>
      <if test="taskType != null" >
        TASK_TYPE,
      </if>
      <if test="taskFilter != null" >
        TASK_FILTER,
      </if>
      <if test="enableFlag != null" >
        ENABLE_FLAG,
      </if>
      <if test="issueCount != null" >
        ISSUE_COUNT,
      </if>
      <if test="timeMode != null" >
        TIME_MODE,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="week != null" >
        WEEK,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="approver != null" >
        APPROVER,
      </if>
      <if test="approveTime != null" >
        APPROVE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="regionalId != null" >
        #{regionalId,jdbcType=VARCHAR},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null" >
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskFilter != null" >
        #{taskFilter,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="issueCount != null" >
        #{issueCount,jdbcType=DECIMAL},
      </if>
      <if test="timeMode != null" >
        #{timeMode,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="week != null" >
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approver != null" >
        #{approver,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cy.its.device.mybatis.model.TDeviceLedTaskAuto" >
    update T_DEVICE_LED_TASK_AUTO
    <set >
      <if test="deviceId != null" >
        DEVICE_ID = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="regionalId != null" >
        REGIONAL_ID = #{regionalId,jdbcType=VARCHAR},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        TASK_NAME = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null" >
        TASK_TYPE = #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskFilter != null" >
        TASK_FILTER = #{taskFilter,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        ENABLE_FLAG = #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="issueCount != null" >
        ISSUE_COUNT = #{issueCount,jdbcType=DECIMAL},
      </if>
      <if test="timeMode != null" >
        TIME_MODE = #{timeMode,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="week != null" >
        WEEK = #{week,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approver != null" >
        APPROVER = #{approver,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        APPROVE_TIME = #{approveTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cy.its.device.mybatis.model.TDeviceLedTaskAuto" >
    update T_DEVICE_LED_TASK_AUTO
    set DEVICE_ID = #{deviceId,jdbcType=VARCHAR},
      REGIONAL_ID = #{regionalId,jdbcType=VARCHAR},
      PROGRAM_ID = #{programId,jdbcType=VARCHAR},
      TASK_NAME = #{taskName,jdbcType=VARCHAR},
      TASK_TYPE = #{taskType,jdbcType=VARCHAR},
      TASK_FILTER = #{taskFilter,jdbcType=VARCHAR},
      ENABLE_FLAG = #{enableFlag,jdbcType=VARCHAR},
      ISSUE_COUNT = #{issueCount,jdbcType=DECIMAL},
      TIME_MODE = #{timeMode,jdbcType=DECIMAL},
      START_DATE = #{startDate,jdbcType=VARCHAR},
      END_DATE = #{endDate,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=VARCHAR},
      END_TIME = #{endTime,jdbcType=VARCHAR},
      WEEK = #{week,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      APPROVER = #{approver,jdbcType=VARCHAR},
      APPROVE_TIME = #{approveTime,jdbcType=TIMESTAMP}
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </update>
</mapper>