.videoAxis-head{
    height:40px;
    width:90%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #24628A;
    background-color: #B5DDF6;
    cursor:pointer;
    white-space: normal;
    line-height: 20px;
}
.videoAxis-head.current{
    /*background-color: #3868A9;*/
    /*color: #fff;*/
}
.videoAxis-item-ul{
    position: relative;
    left: 0px;
    top:0px;
    right: 0px;
    margin:2px;
    padding: 0px;
    height: 300px;
    /*background-color: rgba(0,0,0,0);*/
    /*background: rgba(0,0,0,0) url("../../js/videoAxis/images/line.png") no-repeat scroll center center;*/
    background-size:100% 80% ;
    /*z-index:4;*/
}
.videoAxis-item-li{

    position: relative;
    margin-top: 5px;
    /*margin-left: 20px;*/
    /*来防止子div的float导致的浮动变形*/
    height: 60px;
    /*min-height: 50px;*/
    cursor: pointer;
    /*line-height: 25px;*/
    list-style: outside none none;
    width:90%
}


.videoAxis-item-li  .point{
    height: 15px;
    width:15px;
    border-radius: 15px;
    border:1px solid #000;
    /*居中效果*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*和文本同行*/
    /*float: left;*/

    left:1px;
    position: absolute;
    margin-left: 18px;
    background-color: #ffffff;
}


.videoAxis-item-li.old  .point{
    background: #76EE00 none repeat scroll 0 0;
}

.videoAxis-item-li.current  .point{
    background:  #EEEE00 none repeat scroll 0 0;
}

.videoAxis-item-li.new  .point{
    background:  #FFFFFF none repeat scroll 0 0;
}

.videoAxis-item-li.disable .point {
    background: #d3d3d3 none repeat scroll 0 0;
    border:1px solid #d3d3d3;
}


.videoAxis-item-li .text{
    left:1px;
    margin-left: 40px;
    position: absolute;
    width: 160px;
    float: left;
    position: absolute;
    /*可以让point浮动的同时，文字不会换行*/
    /*margin-left: 25px;*/
    /*left:5px;*/
    /*background-color: #a5e9c0;*/
    /*color: #32965a;*/
    /*float: left;*/
}

.videoAxis-item-li.disable .text {
    color: #d3d3d3;
}

.videoAxis-item-li .value{
    padding-top: 30px;
    /*margin-left: -20px;*/
    left:10px;
    width: 10px;
    float: left;
    position: absolute;

}

.videoAxis-item-li.current{
    /*background-color: #325540;*/
    /*color:#fff;*/
}
.videoAxis-item-ul-top{
    height:0;
}


.videoAxis-uls-root{
    position: absolute;
    left: 0px;
    top:0px;
    width:100%;
    z-index:4;
}
/*线*/
.videoAxis-line{
    position: absolute;
    left: 28px;
    top:2px;
    width: 2px;
    /*background-color: rgba(0,0,0,0);*/
    background-repeat:  no-repeat;
    background-attachment: scroll;
    background-position: center center;
}


/*静态线*/
.videoAxis-line.static{
    background-color: #000000;
    /*background-image: url("../../js/videoAxis/images/line.png");*/
    z-index: 1;
    height: 1px;
    overflow-y: hidden;
}

/*动态线*/
.videoAxis-line.mobile{
    background-color: #76EE00;
    /**/
    /*background-image: url("../../js/videoAxis/images/line_red.png");*/
    background-repeat: repeat-y;
    z-index: 2;
    height: 1px;
    transition:height 2s;
}

.videoAxis-line.disable  {
    background-color: #d3d3d3;
}
