@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?i9x9z7');
  src:  url('icomoon.eot?i9x9z7#iefix') format('embedded-opentype'),
    url('icomoon.ttf?i9x9z7') format('truetype'),
    url('icomoon.woff?i9x9z7') format('woff'),
    url('icomoon.svg?i9x9z7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="el-icon-rx-"], [class*=" el-icon-rx-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
}
/*黑色图标*/
.el-icon-rx-bianji1:before {
  content: "\e90e";
}
.el-icon-rx-bianji2:before {
  content: "\e901";
}
.el-icon-rx-baocun1:before {
  content: "\e90b";
}
.el-icon-rx-baocun2:before {
  content: "\e900";
}
.el-icon-rx-chexiao:before {
  content: "\e902";
}
.el-icon-rx-shanchu2:before {
  content: "\e904";
}
.el-icon-rx-daochu2:before {
  content: "\e903";
}
.el-icon-rx-yulan:before {
  content: "\e907";
}
.el-icon-rx-jinyong:before {
  content: "\e912";
}
.el-icon-rx-shangyi1:before {
  content: "\e91c";
}
.el-icon-rx-shangyi2:before {
  content: "\e905";
}
.el-icon-rx-xiayi1:before {
  content: "\e925";
}
.el-icon-rx-xiayi2:before {
  content: "\e906";
}
.el-icon-rx-EDM:before {
  content: "\e911";
}
.el-icon-rx-sousuo:before {
  content: "\e91d";
}
.el-icon-rx-sousuo1:before {
  content: "\e91e";
}
.el-icon-rx-tianjia:before {
  content: "\e91f";
}
.el-icon-rx-tianjia1:before {
  content: "\e920";
}
.el-icon-rx-wenben:before {
  content: "\e921";
}
.el-icon-rx-xiala:before {
  content: "\e922";
}
.el-icon-rx-shangyi2-b:before {
  content: "\e905";
}
/*带圈图标*/
.el-icon-rx-baocun .path1:before {
  content: "\e908";
}
.el-icon-rx-baocun .path2:before {
  content: "\e909";
}
.el-icon-rx-baocun .path3:before {
  content: "\e90a";
}
.el-icon-rx-bianji .path1:before {
  content: "\e90c";
}
.el-icon-rx-bianji .path2:before {
  content: "\e90d";
}
.el-icon-rx-daochu .path1:before {
  content: "\e90f";
}
.el-icon-rx-daochu .path2:before {
  content: "\e910";
}
.el-icon-rx-liulan .path1:before {
  content: "\e913";
}
.el-icon-rx-liulan .path2:before {
  content: "\e914";
}
.el-icon-rx-liulan .path3:before {
  content: "\e915";
}
.el-icon-rx-quxiao .path1:before {
  content: "\e916";
}
.el-icon-rx-quxiao .path2:before {
  content: "\e917";
}
.el-icon-rx-shanchu .path1:before {
  content: "\e918";
}
.el-icon-rx-shanchu .path2:before {
  content: "\e919";
}
.el-icon-rx-shangyi .path1:before {
  content: "\e91a";
}
.el-icon-rx-shangyi .path2:before {
  content: "\e91b";
}
.el-icon-rx-xiayi .path1:before {
  content: "\e923";
}
.el-icon-rx-xiayi .path2:before {
  content: "\e924";
}