body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:76px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:76px;
}
#u2 {
  position:absolute;
  left:2px;
  top:30px;
  width:1426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:840px;
  top:0px;
  width:386px;
  height:76px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:76px;
}
#u4 {
  position:absolute;
  left:2px;
  top:30px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1150px;
  top:10px;
  width:43px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1140px;
  top:54px;
  width:63px;
  height:15px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:910px;
  top:10px;
  width:43px;
  height:36px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:900px;
  top:54px;
  width:63px;
  height:15px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:830px;
  top:10px;
  width:43px;
  height:36px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:820px;
  top:54px;
  width:63px;
  height:15px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:748px;
  top:10px;
  width:43px;
  height:36px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:740px;
  top:54px;
  width:63px;
  height:15px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:579px;
  top:10px;
  width:43px;
  height:36px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:571px;
  top:54px;
  width:63px;
  height:15px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:499px;
  top:10px;
  width:43px;
  height:36px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:491px;
  top:54px;
  width:63px;
  height:15px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:990px;
  top:10px;
  width:43px;
  height:36px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:980px;
  top:54px;
  width:63px;
  height:15px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1070px;
  top:10px;
  width:43px;
  height:36px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1060px;
  top:54px;
  width:63px;
  height:15px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:486px;
  top:0px;
  width:75px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:893px;
  top:1px;
  width:75px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:1134px;
  top:1px;
  width:75px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:734px;
  top:1px;
  width:75px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:1053px;
  top:1px;
  width:75px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:663px;
  top:11px;
  width:43px;
  height:36px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:655px;
  top:54px;
  width:63px;
  height:15px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:561px;
  top:0px;
  width:75px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:1340px;
  top:30px;
  width:16px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1329px;
  top:31px;
  width:10px;
  height:14px;
}
#u49_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:-3px;
  width:20px;
  height:18px;
}
#u49_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:14px;
}
#u50 {
  position:absolute;
  left:1232px;
  top:56px;
  width:68px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:419px;
  top:11px;
  width:43px;
  height:36px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:409px;
  top:54px;
  width:63px;
  height:15px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:978px;
  top:0px;
  width:75px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:403px;
  top:0px;
  width:75px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:647px;
  top:1px;
  width:75px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:814px;
  top:0px;
  width:75px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:0px;
  top:75px;
  width:193px;
  height:632px;
  overflow:hidden;
}
#u60_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:632px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:630px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:630px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:2px;
  width:190px;
  height:168px;
  overflow:hidden;
}
#u63_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:168px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
  text-align:left;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u65 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:35px;
  width:190px;
  height:125px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:125px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:55px;
  top:45px;
  width:90px;
  height:15px;
  color:#0000FF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:55px;
  top:72px;
  width:80px;
  height:15px;
  color:#0000FF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:55px;
  top:99px;
  width:80px;
  height:15px;
  color:#000000;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:54px;
  top:126px;
  width:80px;
  height:15px;
  color:#3300FF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u63_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:168px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
  text-align:left;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:35px;
  width:190px;
  height:95px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:95px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:196px;
  top:77px;
  width:1234px;
  height:29px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:29px;
}
#u81 {
  position:absolute;
  left:2px;
  top:6px;
  width:1230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:262px;
  top:77px;
  width:121px;
  height:29px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:195px;
  top:106px;
  width:1235px;
  height:627px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:627px;
}
#u85 {
  position:absolute;
  left:2px;
  top:306px;
  width:1231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:958px;
  top:110px;
  width:61px;
  height:22px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u87 {
  position:absolute;
  left:440px;
  top:106px;
  width:620px;
  height:617px;
  overflow:hidden;
  visibility:hidden;
}
#u87_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:617px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u87_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:599px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:599px;
}
#u89 {
  position:absolute;
  left:2px;
  top:292px;
  width:597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:551px;
  top:0px;
  width:50px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
