<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="spring.application.name">
            commonService-client
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>%d %p [${ctx:spring.application.name},%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-Span-Export}] %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </Console>
        <!-- 按日期每天生成log文件 -->
        <!--<RollingFile name="RollingFile" fileName="temp/CL_BATCH.log"-->
                     <!--filePattern="temp/CL_BATCH-%d{yyyy-MM-dd}.log">-->
            <!--<PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy interval="1"/>-->
            <!--</Policies>-->

            <!--&lt;!&ndash; log文件只打印error级别信息 &ndash;&gt;-->
            <!--<Filters>-->
                <!--<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--</Filters>-->
        <!--</RollingFile>-->
    </Appenders>
    <Loggers>
        <!-- 输出info级别信息 -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <!--<AppenderRef ref="RollingFile" />-->
        </Root>
    </Loggers>
</Configuration>