<div ng-controller="AppFormFlowController" style="height: 99%">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body" style="height: 99%;">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" ng-model="queryData" placeholder="搜你想要的">
                                <span class="input-group-btn">
                                   <button class="btn btn-info btn-sm" type="button" style="margin-left: 10px" ng-click=""><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body" style="height: 99%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
