<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!--日志存储目录-->
    <add key="LogFolder" value="C:\LDVideoRefreshService_LOG\"/>
    <!--日志存储级别:debug,info-->
    <add key="LogLevel" value="info"/>

    <!--本地数据库-->
    <add key="ConnStr" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.10.240)(PORT=1521))(CONNECT_DATA=(SID=ORCL)));User Id=itms3;Password=itms3;" />

    <!--8600 t_device_server_type 服务器id-->
    <add key="Hik8600V323ServerId" value="" />

    <!-- 默认密码-->
    <add key="DefaultPwd" value="12345" />   
    
    <!-- 刷新间隔时间，单位：秒-->
    <add key="RefreshInterval" value="30" />

    <!-- mq服务器名称-->
    <add key="RabbitMqServer" value="192.168.10.201"/>

    <!-- mq服务器用户名-->
    <add key="RabbitMqUser" value="guest"/>

    <!-- mq服务器密码-->
    <add key="RabbitMqPwd" value="guest"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
