<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huntkey.rx.sceo.formula.provider.variant.dao.TvmLocaleVariantMappingMapper" >
  <resultMap id="BaseResultMap" type="com.huntkey.rx.sceo.formula.common.model.TvmLocaleVariantMapping" >
    <id column="lclv_id" property="lclvId" jdbcType="VARCHAR" />
    <result column="lclv_formula_id" property="lclvFormulaId" jdbcType="VARCHAR" />
    <result column="lclv_var_id" property="lclvVarId" jdbcType="VARCHAR" />
    <result column="isenable" property="isenable" jdbcType="TINYINT" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="adduser" property="adduser" jdbcType="VARCHAR" />
    <result column="modtime" property="modtime" jdbcType="TIMESTAMP" />
    <result column="moduser" property="moduser" jdbcType="VARCHAR" />
    <result column="acctid" property="acctid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    lclv_id, lclv_formula_id, lclv_var_id, isenable, addtime, adduser, modtime, moduser, 
    acctid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huntkey.rx.sceo.formula.common.model.TvmLocaleVariantMappingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tvm_locale_variant_mapping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tvm_locale_variant_mapping
    where lclv_id = #{lclvId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tvm_locale_variant_mapping
    where lclv_id = #{lclvId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.huntkey.rx.sceo.formula.common.model.TvmLocaleVariantMappingExample" >
    delete from tvm_locale_variant_mapping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huntkey.rx.sceo.formula.common.model.TvmLocaleVariantMapping" >
    insert into tvm_locale_variant_mapping (lclv_id, lclv_formula_id, lclv_var_id, 
      isenable, addtime, adduser, 
      modtime, moduser, acctid
      )
    values (#{lclvId,jdbcType=VARCHAR}, #{lclvFormulaId,jdbcType=VARCHAR}, #{lclvVarId,jdbcType=VARCHAR}, 
      #{isenable,jdbcType=TINYINT}, #{addtime,jdbcType=TIMESTAMP}, #{adduser,jdbcType=VARCHAR}, 
      #{modtime,jdbcType=TIMESTAMP}, #{moduser,jdbcType=VARCHAR}, #{acctid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huntkey.rx.sceo.formula.common.model.TvmLocaleVariantMapping" >
    insert into tvm_locale_variant_mapping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lclvId != null" >
        lclv_id,
      </if>
      <if test="lclvFormulaId != null" >
        lclv_formula_id,
      </if>
      <if test="lclvVarId != null" >
        lclv_var_id,
      </if>
      <if test="isenable != null" >
        isenable,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="adduser != null" >
        adduser,
      </if>
      <if test="modtime != null" >
        modtime,
      </if>
      <if test="moduser != null" >
        moduser,
      </if>
      <if test="acctid != null" >
        acctid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lclvId != null" >
        #{lclvId,jdbcType=VARCHAR},
      </if>
      <if test="lclvFormulaId != null" >
        #{lclvFormulaId,jdbcType=VARCHAR},
      </if>
      <if test="lclvVarId != null" >
        #{lclvVarId,jdbcType=VARCHAR},
      </if>
      <if test="isenable != null" >
        #{isenable,jdbcType=TINYINT},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="adduser != null" >
        #{adduser,jdbcType=VARCHAR},
      </if>
      <if test="modtime != null" >
        #{modtime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduser != null" >
        #{moduser,jdbcType=VARCHAR},
      </if>
      <if test="acctid != null" >
        #{acctid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huntkey.rx.sceo.formula.common.model.TvmLocaleVariantMappingExample" resultType="java.lang.Integer" >
    select count(*) from tvm_locale_variant_mapping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tvm_locale_variant_mapping
    <set >
      <if test="record.lclvId != null" >
        lclv_id = #{record.lclvId,jdbcType=VARCHAR},
      </if>
      <if test="record.lclvFormulaId != null" >
        lclv_formula_id = #{record.lclvFormulaId,jdbcType=VARCHAR},
      </if>
      <if test="record.lclvVarId != null" >
        lclv_var_id = #{record.lclvVarId,jdbcType=VARCHAR},
      </if>
      <if test="record.isenable != null" >
        isenable = #{record.isenable,jdbcType=TINYINT},
      </if>
      <if test="record.addtime != null" >
        addtime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adduser != null" >
        adduser = #{record.adduser,jdbcType=VARCHAR},
      </if>
      <if test="record.modtime != null" >
        modtime = #{record.modtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.moduser != null" >
        moduser = #{record.moduser,jdbcType=VARCHAR},
      </if>
      <if test="record.acctid != null" >
        acctid = #{record.acctid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tvm_locale_variant_mapping
    set lclv_id = #{record.lclvId,jdbcType=VARCHAR},
      lclv_formula_id = #{record.lclvFormulaId,jdbcType=VARCHAR},
      lclv_var_id = #{record.lclvVarId,jdbcType=VARCHAR},
      isenable = #{record.isenable,jdbcType=TINYINT},
      addtime = #{record.addtime,jdbcType=TIMESTAMP},
      adduser = #{record.adduser,jdbcType=VARCHAR},
      modtime = #{record.modtime,jdbcType=TIMESTAMP},
      moduser = #{record.moduser,jdbcType=VARCHAR},
      acctid = #{record.acctid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huntkey.rx.sceo.formula.common.model.TvmLocaleVariantMapping" >
    update tvm_locale_variant_mapping
    <set >
      <if test="lclvFormulaId != null" >
        lclv_formula_id = #{lclvFormulaId,jdbcType=VARCHAR},
      </if>
      <if test="lclvVarId != null" >
        lclv_var_id = #{lclvVarId,jdbcType=VARCHAR},
      </if>
      <if test="isenable != null" >
        isenable = #{isenable,jdbcType=TINYINT},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="adduser != null" >
        adduser = #{adduser,jdbcType=VARCHAR},
      </if>
      <if test="modtime != null" >
        modtime = #{modtime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduser != null" >
        moduser = #{moduser,jdbcType=VARCHAR},
      </if>
      <if test="acctid != null" >
        acctid = #{acctid,jdbcType=INTEGER},
      </if>
    </set>
    where lclv_id = #{lclvId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huntkey.rx.sceo.formula.common.model.TvmLocaleVariantMapping" >
    update tvm_locale_variant_mapping
    set lclv_formula_id = #{lclvFormulaId,jdbcType=VARCHAR},
      lclv_var_id = #{lclvVarId,jdbcType=VARCHAR},
      isenable = #{isenable,jdbcType=TINYINT},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      adduser = #{adduser,jdbcType=VARCHAR},
      modtime = #{modtime,jdbcType=TIMESTAMP},
      moduser = #{moduser,jdbcType=VARCHAR},
      acctid = #{acctid,jdbcType=INTEGER}
    where lclv_id = #{lclvId,jdbcType=VARCHAR}
  </update>
  <select id="getFormulaIdByLclvId" parameterType="java.lang.String" resultType="java.lang.String" >
    SELECT lclv_formula_id FROM tvm_locale_variant_mapping WHERE lclv_id = #{lclvId,jdbcType=VARCHAR}
  </select>
  <select id="getLclvIdByVarId" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT lclv_id FROM tvm_locale_variant_mapping WHERE lclv_var_id = #{varId,jdbcType=VARCHAR}
  </select>

  <select id="getlclvVarIdByFormulaId" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT lclv_var_id FROM tvm_locale_variant_mapping WHERE lclv_formula_id = #{formulaId,jdbcType=VARCHAR}
  </select>
</mapper>