.container {
	/*-webkit-transform-style: preserve-3d;
	 -moz-transform-style: preserve-3d;
	 -ms-transform-style: preserve-3d;
	 -o-transform-style: preserve-3d;
	 transform-style: preserve-3d;*/
}

.itemContainer {
	/*z-index: 999999;
	 transform: translate(0px, 50px);
	 -webkit-transform: translate(0px, 50px);
	 -moz-transform: translate(0px, 50px);
	 -o-transform: translate(0px, 50px);
	 -ms-transform: translate(0px, 50px);*/
	background-color: #666666;
	opacity: 0.8;
	text-align: center;
	height: 66px;
}

.itemContainer img {
	/*width: 32px;
	 height: 32px;
	 margin-left: 10px;*/
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/*.itemContainer img:hover {
 transform: scale(1.2) translate(0px, -3px);
 -webkit-transform: scale(1.2) translate(0px, -3px);
 -moz-transform: scale(1.2) translate(0px, -3px);
 -o-transform: scale(1.2) translate(0px, -3px);
 -ms-transform: scale(1.2) translate(0px, -3px);
 }*/

.itemSelected {
	/*transform: scale(1.2) translate(0px, -7px);
	 -webkit-transform: scale(1.2) translate(0px, -7px);
	 -moz-transform: scale(1.2) translate(0px, -7px);
	 -o-transform: scale(1.2) translate(0px, -7px);
	 -ms-transform: scale(1.2) translate(0px, -7px);*/
}
.dock,.dock ul{
	list-style: none;
	background-color: #666666;
	opacity: 0.8;
	height: 52px;
	float: left;
	padding: 0px;
}
.dock ul {
	display: none;
	position: absolute;
	margin-left: -46px;
	margin-top: -104px;
}
.dock > li:hover > ul {
	display: block;
}
.dock li {
	height: 52px;
	width: 46px;
	float: left;
}
.dock li a {
	height: 36px;
	width: 36px;
	display: block;
	margin: 8px 5px;
	cursor: pointer;
}
.dock > li:nth-last-child(2) {
	height: 52px;
	width: 1px;
	float: left;
}
.dock > li:nth-last-child(2) a {
	height: 16px;
	width: 1px;
	display: block;
	background-color: white;
	margin: 18px 0px;
}

