<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cy.its.syscfg.mybatis.client.OverRunCheckPointMapper" >
  <resultMap id="BaseResultMap" type="cy.its.syscfg.domain.model.traffic.OverRunCheckPoint" >
    <id column="CHECKPOINT_ID" property="checkpointId" jdbcType="VARCHAR" />
    <result column="CHECKPOINT_NAME" property="checkpointName" jdbcType="VARCHAR" />
    <result column="MANAGE_ORG" property="manageOrg" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="LON_LAT" property="lonLat" jdbcType="VARCHAR" />
    <result column="HEADER_NAME" property="headerName" jdbcType="VARCHAR" />
    <result column="HEADER_PHONE" property="headerPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CHECKPOINT_ID, CHECKPOINT_NAME, MANAGE_ORG, ADDRESS, LON_LAT, HEADER_NAME, HEADER_PHONE
  </sql>
  
   <select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from T_SYS_OVERRUN_CHECKPOINT
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SYS_OVERRUN_CHECKPOINT
    where CHECKPOINT_ID = #{checkpointId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYS_OVERRUN_CHECKPOINT
    where CHECKPOINT_ID = #{checkpointId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cy.its.syscfg.domain.model.traffic.OverRunCheckPoint" >
    insert into T_SYS_OVERRUN_CHECKPOINT (CHECKPOINT_ID, CHECKPOINT_NAME, MANAGE_ORG, 
      ADDRESS, LON_LAT, HEADER_NAME, 
      HEADER_PHONE)
    values (#{checkpointId,jdbcType=VARCHAR}, #{checkpointName,jdbcType=VARCHAR}, #{manageOrg,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{lonLat,jdbcType=VARCHAR}, #{headerName,jdbcType=VARCHAR}, 
      #{headerPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cy.its.syscfg.domain.model.traffic.OverRunCheckPoint" >
    insert into T_SYS_OVERRUN_CHECKPOINT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="checkpointId != null" >
        CHECKPOINT_ID,
      </if>
      <if test="checkpointName != null" >
        CHECKPOINT_NAME,
      </if>
      <if test="manageOrg != null" >
        MANAGE_ORG,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="lonLat != null" >
        LON_LAT,
      </if>
      <if test="headerName != null" >
        HEADER_NAME,
      </if>
      <if test="headerPhone != null" >
        HEADER_PHONE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="checkpointId != null" >
        #{checkpointId,jdbcType=VARCHAR},
      </if>
      <if test="checkpointName != null" >
        #{checkpointName,jdbcType=VARCHAR},
      </if>
      <if test="manageOrg != null" >
        #{manageOrg,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="lonLat != null" >
        #{lonLat,jdbcType=VARCHAR},
      </if>
      <if test="headerName != null" >
        #{headerName,jdbcType=VARCHAR},
      </if>
      <if test="headerPhone != null" >
        #{headerPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cy.its.syscfg.domain.model.traffic.OverRunCheckPoint" >
    update T_SYS_OVERRUN_CHECKPOINT
    <set >
      <if test="checkpointName != null" >
        CHECKPOINT_NAME = #{checkpointName,jdbcType=VARCHAR},
      </if>
      <if test="manageOrg != null" >
        MANAGE_ORG = #{manageOrg,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="lonLat != null" >
        LON_LAT = #{lonLat,jdbcType=VARCHAR},
      </if>
      <if test="headerName != null" >
        HEADER_NAME = #{headerName,jdbcType=VARCHAR},
      </if>
      <if test="headerPhone != null" >
        HEADER_PHONE = #{headerPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where CHECKPOINT_ID = #{checkpointId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cy.its.syscfg.domain.model.traffic.OverRunCheckPoint" >
    update T_SYS_OVERRUN_CHECKPOINT
    set CHECKPOINT_NAME = #{checkpointName,jdbcType=VARCHAR},
      MANAGE_ORG = #{manageOrg,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      LON_LAT = #{lonLat,jdbcType=VARCHAR},
      HEADER_NAME = #{headerName,jdbcType=VARCHAR},
      HEADER_PHONE = #{headerPhone,jdbcType=VARCHAR}
    where CHECKPOINT_ID = #{checkpointId,jdbcType=VARCHAR}
  </update>
</mapper>