<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cy.its.syscfg.mybatis.client.T_Sys_Plate_PrefixMapper" >
  <resultMap id="BaseResultMap" type="cy.its.syscfg.mybatis.model.T_Sys_Plate_Prefix" >
    <id column="PLATE_PREFIX" property="platePrefix" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PLATE_PREFIX, ORG_CODE
  </sql>
  
  <select id="selectAllData" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from T_SYS_PLATE_PREFIX
  </select>
</mapper>