<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cy.its.trafficSituation.mybatis.client.TrafficSectionFlowMapper" >
  <resultMap id="BaseResultMap" type="cy.its.trafficSituation.domain.model.TrafficSectionFlow" >
    <result column="SECTION_STATE_ID" property="sectionStateId" jdbcType="VARCHAR" />
    <result column="SECTION_ID" property="sectionId" jdbcType="VARCHAR" />
    <result column="TOTAL_NUM" property="totalNum" jdbcType="DECIMAL" />
    <result column="LARGE_NUM" property="largeNum" jdbcType="DECIMAL" />
    <result column="SMALL_NUM" property="smallNum" jdbcType="DECIMAL" />
    <result column="OTHER_NUM" property="otherNum" jdbcType="DECIMAL" />
    <result column="AVG_SPEED" property="avgSpeed" jdbcType="DECIMAL" />
    <result column="VEH_TAIL_SPACE" property="vehTailSpace" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    
    <result column="ROAD_ID" property="roadId" jdbcType="VARCHAR" />
    <result column="DIRECTION_TYPE" property="directionType" jdbcType="VARCHAR" />
    <result column="SITE_ID" property="siteId" jdbcType="VARCHAR" />
    <result column="SITE_NAME" property="siteName" jdbcType="VARCHAR" />
    <result column="ORG_PRIVILEGE_CODE" property="orgPrivilegeCode" jdbcType="VARCHAR" />
    <result column="DIRECTION_NAME" property="directionName" jdbcType="VARCHAR" />
    
  </resultMap>
  
   <select id="selectAllSectionFlow" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
   	SECTION_STATE_ID, t1.SECTION_ID, TOTAL_NUM, LARGE_NUM, SMALL_NUM, OTHER_NUM, AVG_SPEED,
    VEH_TAIL_SPACE,t1.UPDATE_TIME,t1.ORG_PRIVILEGE_CODE,
    t2.DIRECTION_TYPE,t2.DIRECTION_NAME,
    t3.ROAD_ID,t3.SITE_NAME,t3.SITE_ID
    
    from T_TRAFFIC_SECTION_FLOW t1
    left join T_SYS_SECTION t2 on t1.SECTION_ID=t2.SECTION_ID
    left join T_SYS_SITE t3 on t2.SITE_ID=t3.SITE_ID
    <where> 
			1=1
			<if test="startTime!=null and startTime != ''" >
				<![CDATA[AND UPDATE_TIME >= #{startTime,jdbcType=TIMESTAMP}]]>
			</if>
			<if test="endTime!=null and endTime != ''" >
				<![CDATA[AND UPDATE_TIME <= #{endTime,jdbcType=TIMESTAMP}]]>
			</if>
			<if test="roadId!=null and roadId != ''" >
				AND ROAD_ID = #{roadId,jdbcType=VARCHAR}
			</if>
			<if test="sectionId!=null and sectionId != ''" >
				AND t1.SECTION_ID = #{sectionId,jdbcType=VARCHAR}
			</if>
			<if test="orgPrivilegeCode!=null and orgPrivilegeCode != ''" >
				AND t1.ORG_PRIVILEGE_CODE like #{orgPrivilegeCode,jdbcType=VARCHAR}||'%'
			</if>
			<if test="updateTime!=null and updateTime != ''" >
				<![CDATA[AND t1.UPDATE_TIME <= #{updateTime,jdbcType=TIMESTAMP}]]>
				<![CDATA[AND t1.UPDATE_TIME >= #{updateTime,jdbcType=TIMESTAMP}-1/12]]>
			</if>	
		</where>
    order by t1.UPDATE_TIME desc,t3.site_code
  </select>
  
  <select id="select2HourSectionFlow" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
   	SECTION_STATE_ID, SECTION_ID, TOTAL_NUM, LARGE_NUM, SMALL_NUM, OTHER_NUM, AVG_SPEED,
    VEH_TAIL_SPACE,UPDATE_TIME,ORG_PRIVILEGE_CODE     
    from T_TRAFFIC_SECTION_FLOW t1   
    <where> 			
			<if test="sectionId!=null and sectionId != ''" >
				AND t1.SECTION_ID = #{sectionId,jdbcType=VARCHAR}
			</if>			
			<if test="updateTime!=null and updateTime != ''" >
				<![CDATA[AND t1.UPDATE_TIME <= #{updateTime,jdbcType=TIMESTAMP}]]>
				<![CDATA[AND t1.UPDATE_TIME >= #{updateTime,jdbcType=TIMESTAMP}-1/12]]>
			</if>	
		</where>  
		order by t1.UPDATE_TIME 
  </select>
  
   <sql id="Base_Column_List" >
    SECTION_STATE_ID, SECTION_ID, TOTAL_NUM, LARGE_NUM, SMALL_NUM, OTHER_NUM, AVG_SPEED,
    VEH_TAIL_SPACE,UPDATE_TIME
   
  </sql>
  
  <select id="selectSectionFlowBySectionId" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	select  
  	SECTION_STATE_ID, SECTION_ID, TOTAL_NUM, LARGE_NUM, SMALL_NUM, OTHER_NUM, AVG_SPEED,
    VEH_TAIL_SPACE,UPDATE_TIME
    from(
	    select 
	    SECTION_STATE_ID, SECTION_ID, TOTAL_NUM, LARGE_NUM, SMALL_NUM, OTHER_NUM, AVG_SPEED,
	    VEH_TAIL_SPACE,UPDATE_TIME,rownum 
	    from T_TRAFFIC_SECTION_FLOW
	    where SECTION_ID = #{sectionId,jdbcType=VARCHAR}
	    order by UPDATE_TIME desc
	    )
	 where rownum=1
  </select>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_TRAFFIC_SECTION_FLOW
    where SECTION_STATE_ID = #{sectionStateId,jdbcType=VARCHAR}
  </select>
  
  <insert id="insert" parameterType="cy.its.trafficSituation.domain.model.TrafficSectionFlow" >
    insert into T_TRAFFIC_SECTION_FLOW (SECTION_STATE_ID, SECTION_ID, TOTAL_NUM, 
      LARGE_NUM, SMALL_NUM, OTHER_NUM, 
      AVG_SPEED, VEH_TAIL_SPACE, UPDATE_TIME)
    values (#{sectionStateId,jdbcType=VARCHAR}, #{sectionId,jdbcType=VARCHAR}, #{totalNum,jdbcType=DECIMAL}, 
      #{largeNum,jdbcType=DECIMAL}, #{smallNum,jdbcType=DECIMAL}, #{otherNum,jdbcType=DECIMAL}, 
      #{avgSpeed,jdbcType=DECIMAL}, #{vehTailSpace,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cy.its.trafficSituation.domain.model.TrafficSectionFlow" >
    insert into T_TRAFFIC_SECTION_FLOW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sectionStateId != null" >
        SECTION_STATE_ID,
      </if>
      <if test="sectionId != null" >
        SECTION_ID,
      </if>
      <if test="totalNum != null" >
        TOTAL_NUM,
      </if>
      <if test="largeNum != null" >
        LARGE_NUM,
      </if>
      <if test="smallNum != null" >
        SMALL_NUM,
      </if>
      <if test="otherNum != null" >
        OTHER_NUM,
      </if>
      <if test="avgSpeed != null" >
        AVG_SPEED,
      </if>
      <if test="vehTailSpace != null" >
        VEH_TAIL_SPACE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sectionStateId != null" >
        #{sectionStateId,jdbcType=VARCHAR},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=VARCHAR},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=DECIMAL},
      </if>
      <if test="largeNum != null" >
        #{largeNum,jdbcType=DECIMAL},
      </if>
      <if test="smallNum != null" >
        #{smallNum,jdbcType=DECIMAL},
      </if>
      <if test="otherNum != null" >
        #{otherNum,jdbcType=DECIMAL},
      </if>
      <if test="avgSpeed != null" >
        #{avgSpeed,jdbcType=DECIMAL},
      </if>
      <if test="vehTailSpace != null" >
        #{vehTailSpace,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>