target/
.idea/
*.iml
sh.exe.stackdump
modeler-common/.settings/org.eclipse.core.resources.prefs
modeler-client/.settings/org.eclipse.m2e.core.prefs
modeler-provider/.settings/org.eclipse.m2e.core.prefs
modeler-provider/.settings/org.eclipse.core.resources.prefs
modeler-provider/.project
modeler-client/.classpath
.project
.settings/org.eclipse.m2e.core.prefs
modeler-client/.settings/org.eclipse.core.resources.prefs
modeler-common/.classpath
.settings/org.eclipse.core.resources.prefs
modeler-common/.settings/org.eclipse.m2e.core.prefs
modeler-client/.settings/org.eclipse.jdt.core.prefs
modeler-client/.project
modeler-common/.settings/org.eclipse.jdt.core.prefs
modeler-common/.project
modeler-provider/.settings/org.eclipse.jdt.core.prefs
modeler-client/.settings/org.springframework.ide.eclipse.boot.properties.editor.prefs
modeler-provider/.classpath
