* {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
html,body{
  height:100%;
  overflow:hidden;
}
body{
  margin: 0;
  overflow: hidden;
}
div{
  color: #6B6B74;
  font-size: 13px;
}
.default-color{
  color: #7459FC;
}
.default-background-color{
  background-color: #7459FC;
}
/* 导航背景色 */
.nav-background{
  background: #8054F7;
  background: -webkit-linear-gradient(left, #8054F7, #6F5AFF);
  background: -o-linear-gradient(left, #8054F7, #6F5AFF);
  background: linear-gradient(to right, #8054F7, #6F5AFF);
}
/* 公共样式 输入框大小*/
.input-width-s{
  width: 150px;
}
.input-width-m{
  width: 200px;
}
.input-width-l{
  width: 250px;
}
.input-width-xl{
  width: 300px;
}
.input-width-xxl{
  width: 350px;
}
/* 公共样式 弹出框大小 */
.dialog-width-s{
  width: 400px;
}
.dialog-width-m{
  width: 500px;
}
.dialog-width-l{
  width: 700px;
}
.dialog-width-xl{
  width: 900px;
}
.dialog-width-xxl{
  width: 1100px;
}
.dialog-width-max{
  width: 1250px;
}
/* 公共颜色 */
.color-s{
  color: #13ce66;
}
.color-e{
  color: #ff4949;
}
.color-w{
  color: #f7ba2a;
}
.color-i{
  color: #50bfff;
}
/* 输入框样式 */
.el-input .el-input__inner{
  height: 28px;
  line-height: 28px;
}
.el-input__inner, .el-textarea__inner{
  font-size: 13px;
}
.el-input .el-input__inner:focus,.el-select .el-input__inner:focus, .el-textarea__inner:focus{
  box-shadow: 0px 0px 3px #a59fff;
  border: 1px solid #a59fff;
}
.el-input .el-input__inner:hover,.el-select .el-input__inner:hover, .el-textarea__inner:hover{
  border: 1px solid #a59fff;
}
.el-input__icon{
  color: #7459FC;
  font-size: 13px;
  cursor: pointer;
}
.el-input.is-disabled .el-input__icon{
  color: #bbb;
}

.el-select-dropdown__item.selected,
.el-select-dropdown__item.selected:hover,
.el-select-dropdown__item.selected.hover{
  background-color: #7459FC;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover,
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background-color: #F1F3FF;
}
.el-select .el-input .el-input__icon{
  color: #7459FC;
}
.el-input.is-disabled .el-input__icon{
  color: #bbb;
}
/* checkbox 框样式 */
.el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: #7459FC;
  border-color: #7459FC;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #7459FC;
  border-color: #7459FC;
}
.el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: #7459FC;
}
.el-checkbox__inner:hover{
  border-color: #7459FC;
}
.el-radio__inner{
  height: 16px;
  width: 16px;
}
.el-radio__input.is-checked .el-radio__inner {
  background-color: #7459FC;
  border-color: #7459FC;
}
.el-radio__input .el-radio__inner:hover {
  border-color: #7459FC;
}
.el-radio__label{
  font-size: 13px
}
.el-time-panel__btn.confirm{
  color: #7459FC;
}
.el-time-panel__content::after, .el-time-panel__content::before,
.time-select-item.selected:not(.disabled),
.time-select-item.selected:not(.disabled):hover {
  background-color: #7459FC;
}
.el-date-editor.el-input.el-date-editor--time, .el-date-editor.el-input.el-date-editor--time-select{
  width: 120px;
}
.el-time-selecter-width{
  width: 120px;
}
/* 表单样式 */
.el-form-item__label{
  font-size: 13px;
  padding-top: 12px;
}
.el-form-item{
  margin-bottom: 14px;
}
.el-form-item__error{
  padding-top: 2px;
}
.demo-form-inline{
  margin-top: 15px;
}
/* 按钮样式 */
.el-button{
  padding: 0 15px;
  font-size: 13px;
}
.el-button--text{
  padding: 5px 5px;
}
.el-button--default, .el-button--default:focus,
.el-button--info, .el-button--info:focus,
.el-button--primary, .el-button--primary:focus,
.el-button--danger, .el-button--danger:focus,
.el-button--warning, .el-button--warning:focus{
  height: 29px;
}
.el-button--default:focus, .el-button--default, .el-button--default:active{
  border-color: #7459FC;
  color: #7459FC;
}
.el-button--default:hover{
  border-color: #A598ED;
  color: #A598ED;
}
.el-button--info:focus, .el-button--info, .el-button--info:active,
.el-button--primary:focus, .el-button--primary, .el-button--primary:active{
  background-color: #7459FC;
  border-color: #7459FC;
  color: #fff;
}
.el-button--info:hover,.el-button--primary:hover{
  background-color: #8F80FF;
  border-color: #8F80FF;
  color: #fff;
}
.el-button--danger, .el-button--danger:active, .el-button--danger:focus{
  border-color: #7459FC;
  background-color: #fff;
  color: #7459FC;
}
.el-button--danger:hover{
  border-color: #f45050;
  color: #f45050;
  background-color: #fff;
}
.el-button--warning, .el-button--warning:active, .el-button--warning:focus{
  border-color: #7459FC;
  background-color: #fff;
  color: #7459FC;
}
.el-button--warning:hover{
  border-color: #f59f43;
  color: #f59f43;
  background-color: #fff;
}
.el-button--text,.el-button--text:hover,.el-button--text:focus{
  color: #7459FC;
  font-weight: bold;
}
.el-button+.el-button{
  margin-left: 3px;
}
/* 表格样式 */
.el-table td, .el-table th{
  height: 35px;
  line-height: 35px;
}
.el-table th,.el-table__header-wrapper thead div, .el-table__fixed-header-wrapper thead div {
  background-color: #E2E4EB;
  color: #6B6B74;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #EEEFF3;
}
.el-table__body tr.current-row>td{
  background-color: #EEEFF3;
}
.el-table td, .el-table th.is-leaf{
  border-color: #F4F6FC;
}
.el-table tr.table-checked{
  background-color: #F7F8FF;
  /*border: solid 1px red;*/
}
.el-table .cell, .el-table th>div{
  padding-left: 0;
  padding-right: 0;
}
/* 表格中按钮样式 */
.el-button--operate,.el-button--operate:focus{
  margin-top: 3px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 15px;
  font-size: 15px;
  background-color: #E7E9F2;
  text-align: center;
  border-color: #E7E9F2;
  color: #9496A0;
  padding: 0;
}
.el-button--operate:hover{
  background-color: #7459FC;
  border-color: #7459FC;
  color: #fff;
}
/* 分页样式 */
.el-pager{
  margin:0 5px;
}
.el-pager li.active {
  border-color: #7459FC;
  background-color: #7459FC;
}
.el-pager li {
  margin: 0 3px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  border-radius: 4px;
}
.el-pagination button, .el-pagination span {
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
}
.el-pagination .btn-next, .el-pagination .btn-prev {
  border-radius: 4px;
}
.el-pagination__editor {
  border-radius: 4px;
}
.el-pagination .el-select .el-input input {
  border-radius: 4px;
}
.el-pagination .btn-prev, .el-pager li.active+li, .el-pager li{
  border-right: 1px solid #d1dbe5;
}
.el-pagination .btn-next, .el-pager li.active+li, .el-pager li{
  border-left: 1px solid #d1dbe5;
}
.el-pagination__sizes .el-input .el-input__inner:hover{
  border-color: #AEB9FF;
}
.el-pagination__editor:focus{
  box-shadow: 0px 0px 2px #7459FC;
  border: 1px solid #7459FC;
}
/* 弹框头部 */
.el-dialog__header{
  background-color: #DFE1EA;
  padding: 13px 20px;
}
.el-dialog__title{
  color:#85868F;
  font-weight: normal;
  font-size: 15px;
  font-weight: bold;
}
.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close{
  color: #7459FC;
}
.el-dialog__body{
  padding: 20px;
}
/* 给icon增加hover效果的class */
.icon-hover i{
  color: #a7a9b5;
}
.icon-hover i:hover{
  color: #7459FC;
}
/* 给button加上通用的颜色效果 */
.button-hover{
  color: #7459FC;
}
.button-hover:hover {
  background-color: #7459FC;
}
.button-hover:hover i {
  color: #fff;
}
/* 树组件样式 */
.el-tree{
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.el-tree-node__content{
  height: 28px;
  line-height: 28px;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
  background-color: #7459FC;
  color: #fff;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content>.el-tree-node__expand-icon:not(.is-leaf){
  border-left-color: #fff;
}
.el-tree-node>.el-tree-node__content:hover{
  color: #7459FC;
  background-color: #fff
}
.el-tree-node__content{
  height: 25px;
  line-height: 25px;
}
.el-tree-node__label{
  font-size: 13px;
}
/* switch开关 */
.el-switch{
  margin-top: -3px;
}
.el-switch.is-checked .el-switch__core{
  border-color: #7459FC;
  background-color: #7459FC;
}
/* switch开关样式plus. 为什么本地的样式和服务器上不一样@左鹏 */
.el-switch__input:checked + .el-switch__core{
  background-color: #7459FC;
  border-color: #7459FC;
}
.info-area .switch{
  margin-top: -3px;
}
.el-badge__content.is-fixed{
  top: 2px;
}
.el-badge__content{
  background-color: #7459FC;
}
.el-badge__content.is-dot{
  height: 6px;
  width: 6px;
}
/* 穿梭框宽度改变，中间按钮宽度改变 */
.el-transfer-panel {
  border: 1px solid #d1dbe5;
  box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
  display: inline-block;
  width: 280px;
  position: relative;
}
.el-transfer__buttons .el-button {
  display: block;
  margin: 0 auto;
  padding: 8px 20px;
}
