<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ah.its.wrokflow.repository.domain.WfMenuMapper" >
  <resultMap id="BaseResultMap" type="ah.its.wrokflow.repository.dao.WfMenu" >
    <id column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="MENU_TYPE" property="menuType" jdbcType="VARCHAR" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR" />
    <result column="MENU_PARENT_ID" property="menuParentId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="OPERATER" property="operater" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    MENU_ID, MENU_TYPE, MENU_NAME, MENU_URL, MENU_PARENT_ID, REMARK, CREATE_TIME, UPDATE_TIME, 
    OPERATER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_WF_MENU
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_WF_MENU
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ah.its.wrokflow.repository.dao.WfMenu" >
    insert into T_WF_MENU (MENU_ID, MENU_TYPE, MENU_NAME, 
      MENU_URL, MENU_PARENT_ID, REMARK, 
      CREATE_TIME, UPDATE_TIME, OPERATER
      )
    values (#{menuId,jdbcType=VARCHAR}, #{menuType,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{menuParentId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{operater,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ah.its.wrokflow.repository.dao.WfMenu" >
    insert into T_WF_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="menuType != null" >
        MENU_TYPE,
      </if>
      <if test="menuName != null" >
        MENU_NAME,
      </if>
      <if test="menuUrl != null" >
        MENU_URL,
      </if>
      <if test="menuParentId != null" >
        MENU_PARENT_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="operater != null" >
        OPERATER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuParentId != null" >
        #{menuParentId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operater != null" >
        #{operater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ah.its.wrokflow.repository.dao.WfMenu" >
    update T_WF_MENU
    <set >
      <if test="menuType != null" >
        MENU_TYPE = #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuParentId != null" >
        MENU_PARENT_ID = #{menuParentId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operater != null" >
        OPERATER = #{operater,jdbcType=VARCHAR},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ah.its.wrokflow.repository.dao.WfMenu" >
    update T_WF_MENU
    set MENU_TYPE = #{menuType,jdbcType=VARCHAR},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      MENU_PARENT_ID = #{menuParentId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      OPERATER = #{operater,jdbcType=VARCHAR}
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
  <select id="queryMenuByGroupId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    m.MENU_ID, m.MENU_TYPE, m.MENU_NAME, m.MENU_URL, m.MENU_PARENT_ID, m.REMARK, m.CREATE_TIME, m.UPDATE_TIME,m.OPERATER
    from T_WF_MENU m,T_WF_GROUP_MENU gm
    where m.menu_id = gm.menu_id and gm.group_id = #{groupId,jdbcType=VARCHAR}
  </select>
  <insert id="addGroupMenuMapRecord" parameterType="java.util.List" >
    insert into T_WF_GROUP_MENU
     (ID,GROUP_ID,MENU_ID)
    <foreach collection="list" item="item" index="index" separator="union all" >
    	select #{item.id,jdbcType=VARCHAR}, #{item.groupId,jdbcType=VARCHAR}, #{item.menuId,jdbcType=VARCHAR} from dual 
    </foreach>
  </insert>
  <delete id="delGroupMenuMapRecord" parameterType="java.lang.String" >
    delete from T_WF_GROUP_MENU where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </delete>
</mapper>