<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="exampleModalLabel">删除</h5>
    </div>
    <div modal-body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <table style="width: 100%">
                        <thead class="table-thead">
                            <tr class="table-td">
                                <td width="80%"><b>文件</b></td>
                                <td width="20%"><b>操作</b></td>
                            </tr>
                        </thead>
                        <tbody class="table-tbody">
                            <tr ng-repeat="info in showInfo" class="table-td">
                                <td width="80%">{{info.name}}</td>
                                <td width="20%">
                                    <a title="删除" style="cursor:pointer;margin-left:10px;" ng-click="deleteFile(info)"><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-warning" data-dismiss="modal" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-xs btn-primary" ng-click="save()">保存</button>
    </div>
</div>
<style type="text/css">
.table-thead {
    font-size: 14px;
    font-family: 'Microsoft YaHei' ! important;
    color:#333333
}
.table-tbody {
    font-size: 13px;
    font-family: 'Microsoft YaHei' ! important;
    color:#333333
}
.table-td{
  height:30px;
}
</style>
