<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div style="width:100%; height:2px;border-top:1px dashed #999999; clear:both;margin-top:5px;"></div>
                <div class="searchPanel" style="margin-left: 35px">
                <div class="panel_title">审批信息</div>
                <div style="width: 96%;margin-left: 10px">
                    <table class="table table-striped table-info">
                        <thead>
                            <tr>
                                <th>审批人</th>
                                <th>审批单位</th>
                                <th>审批结果</th>
                                <th>审批意见</th>
                                <th>审批时间</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="info in showExamineInfo">
                            <td>{{info.approvalUser}}</td>
                            <td>{{info.groupName}}</td>
                            <td>{{info.approvalResult}}</td>
                            <td>{{info.approvalComments}}</td>
                            <td>{{info.approvalTime}}</td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
            <br>
            <div class="searchPanel" style="margin-left: 50px;">
                <div class="panel_title">基本信息</div>
                <div class="col-sm-12">
                    <div class="form-group" style="margin-top: 10px">
                        <lable for="unitName" class="col-sm-2 control-label">申请单位：</lable>
                        <div class="col-sm-3">{{showInfo.unitName}}</div>
                    </div>
                    <div class="form-group" style="margin-left:10px;margin-top: 10px">
                        <lable for="recipient-name" class="col-sm-2 control-label">系统名称：</lable>
                        <div class="col-sm-4">{{showInfo.systemName}}</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group" style="margin-top: 10px">
                        <lable for="unitName" class="col-sm-2 control-label">使用部门：</lable>
                        <div class="col-sm-3">{{showInfo.userDepartments}}</div>
                    </div>
                    <div class="form-group" style="margin-left:10px;margin-top: 10px">
                        <lable for="recipient-name" class="col-sm-2 control-label">系统负责人：</lable>
                        <div class="col-sm-4">{{showInfo.systemManageer}}</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group" style="margin-top: 10px">
                        <lable for="unitName" class="col-sm-2 control-label">联系电话：</lable>
                        <div class="col-sm-3">{{showInfo.phone}}</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group" style="margin-top: 10px">
                        <lable for="recipient-name" class="col-sm-2 control-label">主要功能：</lable>
                        <div class="col-sm-3">{{showInfo.sysytemFunction}}</div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="searchPanel" style="margin-left: 50px">
            <div class="panel_title">附件信息</div>
                <div class="form-group col-sm-12" style="margin-top: 15px;">
                    <lable for="recipient-name" class="col-sm-4 control-label">01&nbsp;系统立项申请请示：</lable>
                    <div class="col-sm-8">
                        <div ng-repeat="approveImgInfo in showInfo.approveImg track by $index">
                            <a href="{{approveImgInfo.value}}">{{approveImgInfo.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" style="margin-top: 15px">
                    <lable for="recipient-name" class="col-sm-4 control-label">02&nbsp;发改财政等部门同意立项审批：</lable>
                    <div class="col-sm-8">
                        <div ng-repeat="departmentsImgInfo in showInfo.departmentsImg track by $index">
                            <a href="{{departmentsImgInfo.value}}">{{departmentsImgInfo.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" style="margin-top: 15px">
                    <lable for="recipient-name" class="col-sm-4 control-label">03&nbsp;技术方案：</lable>
                    <div class="col-sm-8">
                        <div ng-repeat="solutionFileInfo in showInfo.solutionFile track by $index">
                            <a href="{{solutionFileInfo.value}}">{{solutionFileInfo.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" style="margin-top: 15px">
                    <lable for="recipient-name" class="col-sm-4 control-label">04&nbsp;实施方案：</lable>
                    <div class="col-sm-8">
                        <div ng-repeat="plansFileInfo in showInfo.plansFile track by $index">
                            <a href="{{plansFileInfo.value}}">{{plansFileInfo.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" style="margin-top: 15px">
                    <lable for="recipient-name" class="col-sm-4 control-label">05&nbsp;方案专家论证意见：</lable>
                    <div class="col-sm-8">
                        <div ng-repeat="expertOpinionImgInfo in showInfo.expertOpinionImg track by $index">
                            <a href="{{expertOpinionImgInfo.value}}">{{expertOpinionImgInfo.name}}</a>
                        </div>
                    </div>
                </div>
                <div ng-show="showFundsFile" class="form-group col-sm-12" style="margin-top: 15px">
                    <lable for="recipient-name" class="col-sm-4 control-label">06&nbsp;项目资金下达文件：</lable>
                    <div class="col-sm-8">
                        <div ng-repeat="fundsFileInfo in showInfo.fundsFile track by $index">
                            <a href="{{fundsFileInfo.value}}">{{fundsFileInfo.name}}</a>
                        </div>
                    </div>
                    <!-- <span class="input-group-addon">06项目资金下达文件&nbsp;&nbsp;</span>
                    <input type="text" class="form-control" value="{{showInfo.fundsFile}}" disabled> -->
                </div>
                <div ng-show="showPurchaseFile" class="form-group col-sm-12" style="margin-top: 15px">
                <lable for="recipient-name" class="col-sm-4 control-label">07&nbsp;申报采购相关文件：</lable>
                    <div class="col-sm-8">
                        <div ng-repeat="purchaseFileInfo in showInfo.purchaseFile track by $index">
                            <a href="{{purchaseFileInfo.value}}">{{purchaseFileInfo.name}}</a>
                        </div>
                    </div>
                    <!-- <span class="input-group-addon">07申报采购相关文件&nbsp;&nbsp;</span>
                    <input type="text" class="form-control" value="{{showInfo.purchaseFile}}" disabled> -->
                </div>
                <div ng-show="showContractFile" class="form-group col-sm-12" style="margin-top: 15px">
                <lable for="recipient-name" class="col-sm-4 control-label">08&nbsp;合同：</lable>
                    <div class="col-sm-8">
                        <div ng-repeat="contractFileInfo in showInfo.contractFile track by $index">
                            <a href="{{contractFileInfo.value}}">{{contractFileInfo.name}}</a>
                        </div>
                    </div>
                    <!-- <span class="input-group-addon">08合同&nbsp;&nbsp;</span>
                    <input type="text" class="form-control" value="{{showInfo.contractFile}}" disabled> -->
                </div>
                <div ng-show="showCheckFile" class="form-group col-sm-12" style="margin-top: 15px">
                <lable for="recipient-name" class="col-sm-4 control-label">09&nbsp;验收文档：</lable>
                    <div class="col-sm-8">
                        <div ng-repeat="checkFileInfo in showInfo.checkFile track by $index">
                            <a href="{{checkFileInfo.value}}">{{checkFileInfo.name}}</a>
                        </div>
                    </div>
                    <!-- <span class="input-group-addon">09验收文档&nbsp;&nbsp;</span>
                    <input type="text" class="form-control" value="{{showInfo.checkFile}}" disabled> -->
                </div>
                <div ng-show="showRemarkFile" class="form-group col-sm-12" style="margin-top: 15px">
                <lable for="recipient-name" class="col-sm-4 control-label">10&nbsp;相关说明：</lable>
                    <div class="col-sm-8">
                        <div ng-repeat="remarkFileInfo in showInfo.remarkFile track by $index">
                            <a href="{{remarkFileInfo.value}}">{{remarkFileInfo.name}}</a>
                        </div>
                    </div>
                    <!-- <span class="input-group-addon">10相关说明&nbsp;&nbsp;</span>
                    <input type="text" class="form-control" value="{{showInfo.remarkFile}}" disabled> -->
                </div>
            </div>
            <div style="width:96%; height:2px;border-top:1px dashed #999999; clear:both;margin-top:5px;margin-left: 20px"></div>
            <div ng-show="showData">
                <table style="width:100%;margin-top:5px;">
                    <tr>
                        <td style="width:25%">
                            <div class="input-group" style="margin-left: 25px;margin-right: 15px">
                                <span class="input-group-addon">审批结果：</span>
                                <select name="result" ng-model="result" class="form-control" style="width:120px;">
                                    <option value=''>请选择</option>
                                    <option value='1' selected="selected">通过</option>
                                    <option value='0'>不通过</option>
                                </select>
                            </div>
                        </td>
                        <td style="width:70%">
                            <div class="input-group" style="margin-left: 10px;margin-right: 15px">
                                <span class="input-group-addon">审批意见：</span>
                                <textarea name="reason" ng-model="reason" class="form-control" rows="1"></textarea>
                            </div>
                        </td>
                    </tr>
                </table>
                <div style="text-align:center;margin:10px;">
                    <button type="submit" class="btn btn-info" ng-click='chkApprove()'>提交</button>
                </div>
            </div>
            <div ng-hide="showData">
                <div style="text-align:center;margin:10px;">
                    <button type="submit" class="btn btn-info" ng-click='cancel()'>关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<style type="text/css">
.table-info {
    font-size: 14px;
    font-family: Microsoft YaHei ! important;
    color: #333333;
    line-height: 10px;
}

.control-label {
    /*padding-top: 7px;*/
    text-align: right;
}

.searchPanel {
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin: 10px 1%;
    padding: 10px 0;
    width: 90%;
}

.searchPanel .panel_title {
    background: #ffffff none repeat scroll 0 0;
    color: #6fb3e0;
    font-size: 12px;
    margin-left: 10px;
    margin-top: -20px;
    padding: 0 5px;
    position: absolute;
}
</style>
